@model IEnumerable<TennisAustraliaAssignment.Models.SetResult>

@{
    ViewData["Title"] = "Index";
}
<!-- Header of area and page-->

<h1>Set Results</h1>

<p>
    <!-- Create button -->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- Column Name -->
            <th>
                @Html.DisplayNameFor(model => model.set)
            </th>
            <!-- Column Name -->
            <th>
                @Html.DisplayNameFor(model => model.FirstRegIDScore)
            </th>
            <!-- Column Name -->
            <th>
                @Html.DisplayNameFor(model => model.SecondRegIDScore)
            </th>
            <!-- Column Name -->
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <!-- Information of Column -->
            <td>
                @Html.DisplayFor(modelItem => item.set)
            </td>
            <!-- Information of Column -->
            <td>
                @Html.DisplayFor(modelItem => item.FirstRegIDScore)
            </td>
            <!-- Information of Column -->
            <td>
                @Html.DisplayFor(modelItem => item.SecondRegIDScore)
            </td>
            <!-- Information of Column -->
            <td>
                @Html.DisplayFor(modelItem => item.Match.MatchID)
            </td>
            <!-- Edit, details and delete options -->
            <td>
                <a asp-action="Edit" asp-route-id="@item.SetResultID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SetResultID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SetResultID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
