@model TennisAustraliaAssignment.Models.RegistrationDetails

@{
    ViewData["Title"] = "Details";
}
<!-- Header of Page -->
<h1>Details</h1>

<div>
    <!-- Header of area -->
    <h4>RegistrationDetails</h4>
    <hr />
    <dl class="row">
        <!-- Column Name -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <!-- Information of Column -->
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Registration.RegistrationID)
        </dd>
        <!-- Column Name -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <!-- Information of Column -->
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.FullName)
        </dd>
    </dl>
</div>
<!-- Save edit or back to list button -->
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegistrationDetailsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
